<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.starware.mapper.AttendMapper">

	<insert id="insertAttend">
		insert into attend values
		(to_date(sysdate, 'YY-MM-DD'), #{emp_no}, 
		to_char(sysdate, 'HH24:MI:SS'), '',
		#{attend_stateNo}
		)
	</insert>

	<update id="insertLeave">
		update attend set
		attend_endTime=#{attend_endTime},
		attend_stateNo=#{attend_stateNo}
		WHERE
		TO_CHAR(attend_date,'YYYY-MM-DD')=TO_CHAR(sysdate, 'YYYY-MM-DD')
		AND
		emp_no=#{emp_no}
	</update>


	<select id="totalRecordWithPaging" resultType="kosta.starware.domain.AttendVO">
<![CDATA[
	select * from 
	(select /*+index_desc(a XPKATTEND) */	
	rownum rn, a.emp_no, a.attend_date, e.emp_name, a.attend_startTime, a.attend_endTime, a.attend_stateNo
	from attend a, emp e
	]]>
		<trim prefix="WHERE" prefixOverrides="AND">
			a.emp_no=e.emp_no
			<if test="searchName!=null">
				and emp_name like #{searchName}
			</if>
			<if test="from!=null and to!=null">
				and to_date(attend_date, 'yy-mm-dd HH24:MI:SS') BETWEEN
				to_char(#{from}) AND to_char(#{to})
			</if>
		</trim>

	<![CDATA[
	and rownum<=#{pageNum}*#{amount}
	)
		where rn>(#{pageNum}-1)*#{amount}

	]]>


	</select>




	<select id="empRecordWithPaging" resultType="kosta.starware.domain.AttendVO">
<![CDATA[
select * from
(select /*+index_desc(a XPKATTEND) */	
	rownum rn, a.emp_no, a.attend_date, e.emp_name, a.attend_startTime, a.attend_endTime, a.attend_stateNo
	from attend a, emp e
	where a.emp_no=e.emp_no
	and a.emp_no=#{emp_no}
	and to_char(attend_date, 'YYYY')=to_char(#{year})
	and to_char(attend_date, 'MM')=to_char(#{month})
)
]]>

	</select>

	
	<select id="getAttendTotal" resultType="int">
	<![CDATA[
	select count(*) from 
	(select /*+index_desc(attend XPKATTEND) */	
	rownum rn, a.emp_no, a.attend_date, e.emp_name, a.attend_startTime, a.attend_endTime, a.attend_stateNo
	from attend a, emp e
	]]>
		<trim prefix="WHERE" prefixOverrides="AND">
			a.emp_no=e.emp_no
			<if test="searchName!=null">
				and emp_name like #{searchName}
			</if>
			<if test="from!=null and to!=null">
				and to_date(attend_date, 'yy-mm-dd HH24:MI:SS') BETWEEN
				to_char(#{from}) AND to_char(#{to})
			</if>
		</trim>
	)
	</select>
	
	
	<select id="getOneRecord" resultType="String">
	select TO_CHAR(attend_date, 'YYYY-MM-DD') from attend
	where emp_no=#{emp_no}
	and TO_CHAR(attend_date,'YYYY-MM-DD')=TO_CHAR(sysdate, 'YYYY-MM-DD')
	</select>	
	
	<select id="getEndTime" resultType="String">
	select attend_endTime from attend
	WHERE emp_no=#{emp_no}
	and TO_CHAR(attend_date,'YYYY-MM-DD')=TO_CHAR(sysdate, 'YYYY-MM-DD')
	</select>
	
	

</mapper>

