<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.starware.mapper.CategoryMapper">

  <insert id="insertCgr">
  	<selectKey resultType="int" keyProperty="category_no" order="BEFORE">
        select MAX(category_no)+1 from category        
    </selectKey>
  		insert into category values(#{category_no}, #{emp_no}, #{category_name}, #{category_color}, 1, #{category_type}, 3)
  </insert>

  <insert id="addAttendee">
  	insert into category values(#{category_no}, #{emp_no}, #{category_name}, #{category_color}, 1, #{category_type}, #{cgr_power})
  </insert>
<!--   	<selectKey resultType="int" keyProperty="category_no" order="BEFORE">
        select MAX(category_no)+1 from category        
    </selectKey>
  		insert all
  	 <foreach item="item" index="index" collection="attendees">
  		 into category values(#{category_no}, ${item}, #{category_name}, #{category_color}, 1)
  	</foreach> -->
  
  <select id="listEmp" resultType="kosta.starware.domain.EmpVO">
  	select emp_no, emp_name, dept_name, grade_name from emp e, dept d, grade g where e.dept_no = d.dept_no and e.grade_no = g.grade_no
  </select>
  
  <select id="listCgr" resultType="kosta.starware.domain.CategoryVO">
	select * from category where emp_no = #{emp_no} order by category_no
  </select>
  
  <select id="getCgr" resultType="kosta.starware.domain.CategoryVO">
  	select * from category where category_no = #{category_no} and emp_no = #{emp_no}
  </select>
  
  <select id="getCgrByCno" resultType="kosta.starware.domain.EmpVO">
  	select c.emp_no, emp_name, grade_name, dept_name from category c, emp e, dept d, grade g where e.emp_no = c.emp_no and e.dept_no = d.dept_no and e.grade_no = g.grade_no and category_no = #{category_no}
  </select>
  
  <update id="updateCgr">
  	update category set category_name = #{category_name} where category_no = #{category_no}
  </update>
  
  <update id="updateColorCgr">
  	update category set category_color = #{category_color} where category_no = #{category_no} and emp_no = #{emp_no}
  </update>
  
  <delete id="deleteCgr">
  	delete from category where category_no = #{category_no} and emp_no = #{emp_no}
  </delete>
  
  <select id="empInfo" resultType="kosta.starware.domain.EmpVO">
  	select emp_no, emp_name, dept_name, grade_name, g.grade_no from emp e, dept d, grade g where e.dept_no = d.dept_no and e.grade_no = g.grade_no and emp_no = #{emp_no}
  </select>

</mapper>
