<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.starware.mapper.NoticeMapper">

<insert id="insertNotice">
		<selectKey keyProperty="notice_no" order="BEFORE" resultType="int">
		select notice_no_seq.nextval from dual
		</selectKey>

		insert into notice values
		(#{notice_no}, #{notice_subject}, #{notice_title},
		#{notice_contents}, 0, sysdate,
		to_date(#{notice_startDate}, 'MM-DD-YYYY'),
		to_date(#{notice_endDate},'MM-DD-YYYY'),
		#{notice_state}, 12301)

</insert>

<select id="noticeListWithPaging" resultType="kosta.starware.domain.NoticeVO">
<![CDATA[
select notice_no, notice_subject, notice_title, emp_no, notice_regdate, notice_hitCount
from notice
where notice_no>0
order by notice_no desc
]]>


</select>


<select id="noticeDetail" resultType="kosta.starware.domain.NoticeVO">
select * from notice
where notice_no=#{notice_no}

</select>

<update id="updateHitCount">
update notice
set notice_hitCount=#{notice_hitCount}+1
where notice_no=#{notice_no}
</update>

<update id="noticeUpdate">
update notice
set notice_title=#{notice_title},
notice_contents=#{notice_contents},
notice_startDate=to_date(#{notice_startDate}, 'MM-DD-YYYY'),
notice_endDate=to_date(#{notice_endDate}, 'MM-DD-YYYY'),
notice_state=#{notice_state}
where notice_no=#{notice_no}
</update>


<delete id="noticeDelete">
delete notice where notice_no=#{notice_no}
</delete>

</mapper>

