
	#todolistHeader{
		margin-top: 2em;
		margin-bottom: 1em;
		text-align: center;
		font-weight: 100;
	}
	.inputarea{
		text-align: center;
	}
	#enter{
		text-align: center;
		font-size: 2em;
		font-weight: 100;
	}
	#inputText{
		width: 100%;
		height: 2.5em;
	}
	
	#todolist, #donelist, #doinglist{
		list-style: none;
		width: 100%;
		height: 2.5em;

	}
	
	#todolist li, #doinglist li{
		border-left: 5px solid #25C797;
		border-bottom: 1px dashed #ccc;
		margin-bottom: 4px;
		width: 100%;
		padding: 5px 10px;
		cursor:pointer;
		transition:all 0.5s;
		transition-timing-function:ease;
		color:#696969;
		background-color: #F1F1F1;
	}
	
	#todolist li:hover, #doinglist li:hover{
		transition:all 0.5s;
		transition-timing-function:ease;
		color: #696969;
		background-color: #25C797;
	}

	#donelist li{
		border-bottom: 1px dashed #ccc;
		margin-bottom: 4px;
		width: 30em;
		height: 2.5em;
		padding: 5px 10px;
		cursor:pointer;
	 	transition-timing-function:ease;
		color: #E7007B;
		background-color: #FFF;
	}
	
	#donelist li:hover{
		transition:all 0.5s;
		transition-timing-function:ease;
		color: #E7007B;
		background-color: #FEDBE4;
	}
	
	#donelist li span{
		font-size: 1.3em;
		font-weight: 200;
		padding-left: 10px;
		vertical-align: middle;
		cursor: default;
		text-decoration: line-through;
		color: red;
	}
	
	#todolist li span, #doinglist li span{
		font-size: 1.3em;
		font-weight: 200;
		padding-left: 10px;
		vertical-align: middle;
	}
	.fa-pencil{
		float: right;
		padding: 5px;
		visibility: visible;
		color: #fff;
	}
	.fa-minus{
		float: right;
		padding: 5px;
		visibility: visible;
		color: #F2143F;
	}
	
	a{
		color: #000;
	}
	a:hover{
		color:#000;
		text-decoration: none;
	}